services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"  # Jaeger UI
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"
    networks:
      - civ-flow-front
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411

  server:
    build:
      context: ./server
      dockerfile: docker/Dockerfile
    container_name: civi-flow-server
    ports:
      - "8000:8000"
    networks:
      - civ-flow-front
    env_file:
      - ./server/.env
    environment:
      - JAEGER_AGENT_HOST=jaeger
      - JAEGER_AGENT_PORT=6831
    depends_on:
      - jaeger
    volumes:
      - ./server:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    networks:
      - civ-flow-front

networks:
  civ-flow-front:
    driver: bridge
